---
//@ts-nocheck
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import iglogo from "../assets/iglogo.svg";
import fblogo from "../assets/fblogo.svg";
import linkedinlogo from "../assets/linkedinlogo.svg";
import fs_hero from "../assets/fs_hero.png";
import evans_effekt from "../assets/evans_effekt.png";
import cta_effekt from "../assets/cta_effekt.png";
---

<Layout title="Ashire Oure Boxing Club">
  <div class="heroydre">
    <img src={fs_hero.src} alt="" />
    <div class="heroindre"></div>
  </div>
  <div class="banner"></div>
  <div class="evansydre ydre flexcol">
    <div class="evansindre indre flexcol">
      <img class="evans_effekt" src={evans_effekt.src} alt="" />
    </div>
  </div>
  <div class="ctaydre ydre flexcol">
    <div class="ctaindre indre flexcol">
      <img class="cta_effekt" src={cta_effekt.src} alt="" />
    </div>
  </div>
  <div class="3dmap ydre flexcol"></div>
  <div class="SoMeydre ydre flexcol">
    <div class="SoMeindre indre flexcol">
      <div class="SoMelinks flex">
        <img src={iglogo.src} alt="link til instagram" />
        <img src={fblogo.src} alt="link til facebook" />
        <img src={linkedinlogo.src} alt="link til linkedin" />
      </div>
    </div>
  </div>
</Layout>

<style>
  /* Hero */
  .heroydre {
    width: 100%;
    height: 90vh;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  @media (max-width: 768px) {
    .heroydre {
      height: 50vh;
    }
  }

  /* Banner */
  .banner {
    width: 100%;
    height: 10vh;
    background-image: url("/champions_banner.png");
    background-repeat: repeat-x;
    background-size: auto 100%; /* Gør billedet 100% højden af .banner */
    background-position: top;
    z-index: 10;
    position: relative;
  }

  /* CTA */
  .ctaydre {
    gap: 50px;
  }
  .ctaindre {
    gap: 50px;
    height: 12em;

    position: relative;
  }
  .cta_effekt {
    position: absolute;
    top: 6%;
    left: -1%;
    object-fit: cover;
  }

  /* Evans */
  .evansindre {
    position: relative;
    height: 17em;
  }
  .evans_effekt {
    position: absolute;
    top: -1%;
    left: 0%;
    object-fit: cover;
  }
  /* SoMe */
  .SoMelinks {
    gap: 20px;
    align-items: center;
    justify-content: center;
    img {
      width: 60px;
      height: 60px;
    }
  }
</style>
