---
import "../styles/global.css";
import effekt1 from "../assets/bg_footerhvid.png";
import footerfoto from "../assets/footerfoto.png";
import logosort from "../assets/logosort.svg";
import iglogo from "../assets/iglogo.svg";
import fblogo from "../assets/fblogo.svg";
---

<div class="footerboks flexcol">
  <img class="effekt1" src={effekt1.src} alt="" />
  <div class="footerydre flex">
    <img class="footerfoto" src={footerfoto.src} alt="" />
    <div class="footerindre flex">
      <div class="header">
        <h2>Ashira Oure - Boxing Club, Youth Academy, Training & Lifestyle</h2>
      </div>
      <div class="some flexcol">
        <a href="/"><img src={logosort.src} alt="" /></a>

        <div class="some1 flex">
          <a href="/"><img src={iglogo.src} alt="" /></a>
          <a href="/"><img src={fblogo.src} alt="" /></a>
        </div>
      </div>
      <div class="nav flexcol">
        <a href="/trænerne">TRÆNERE</a>
        <a href="/om_os">OM OS</a>
        <a href="/holdtræning">BOOK TRÆNING</a>
        <a href="/kontakt">KONTAKT</a>
      </div>
    </div>
  </div>
</div>

<style>
  .footerboks {
    margin-top: -7%;
  }
  .effekt1 {
    max-height: 200px;
    z-index: 10;
  }
  .footerydre {
    background-color: var(--color-primary);
    padding: 8% 20px 20px;
    margin-top: -6%;
    position: relative;
    justify-content: center;
  }
  .footerindre {
    position: relative;
    justify-content: flex-end;
    gap: 50px;
    max-width: 1100px;
    z-index: 30;
  }
  .footerfoto {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 27%;
    object-fit: cover;
    z-index: 15;
    opacity: 0.9;
  }
  .header {
    position: relative;
    h2 {
      color: var(--color-white);
    }
  }
  .some {
    width: 100px;
    gap: 10px;

    .some1 img {
      width: 50px;
      height: 50px;
    }
    a {
      transition: all 0.3s ease;
    }
    a:hover {
      scale: 1.1;
    }
    .some1 {
      justify-content: space-between;
    }
  }
  .nav {
    gap: 10px;
    text-align: end;
    a {
      color: var(--color-white);
      transition: all 0.3s ease;
    }
    a:hover {
      color: var(--color-black);
    }
  }
  @media (max-width: 600px) {
    .footerfoto {
      display: none;
    }
  }
</style>
