---
// Definer props til komponenten
const { hold } = Astro.props;
import Button from "./Button.astro";
---

<div class="hold-card">
  <div class="hold-grid">
    <img
      class="hold-img"
      src={hold.img}
      alt={hold.titel}
      loading="lazy"
      width="100%"
      height="auto"
    />
    <div class="hold-header"><h3>{hold.titel} - {hold.type}</h3></div>

    <p class="hold-beskrivelse">{hold.desc_short}</p>
    <div class="hold-tid">
      <p>
        <b>Skema</b>
      </p><p style="text-align: start;" set:html={hold.schedule} />
    </div>

    <div class="cta">
      <div class="hold-pris">
        <p><b>{hold.price_for}:</b></p>
        <p>{hold.price} kr.</p>
      </div>

      <Button
        link={`/hold/${hold.slug}`}
        text="Læs mere"
        cardknap="cardknap"
        class="hold-btn"
      />
    </div>
  </div>
</div>

<style>
  p {
    font-size: clamp(0.7rem, 2vw, 1rem);
  }
  .hold-card {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    background-color: var(--color-white);
  }

  .hold-grid {
    border: solid 3px var(--color-black);
    margin: 1.5rem;
    overflow: hidden;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 35% 1fr 1fr;
    grid-template-rows: auto;
    height: min-content;
  }
  .hold-img {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    object-fit: cover;
    object-position: 0 30%;
    width: 100%;
    height: 100%;
    max-height: 350px;
  }

  .hold-header {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2 / 4;
    grid-row: 1 / 1;
    background-color: var(--color-primary);
    h3 {
      font-size: clamp(1.3rem, 3vw, 1.8rem);
    }
  }

  .hold-tid {
    display: flex;
    justify-content: space-between;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    margin: 10px 0 10px 10px;
    padding-right: 10px;
    border-top: solid 1px var(--color-black);
    p {
      color: var(--color-black);
    }
  }

  .hold-beskrivelse {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    color: var(--color-black);
    margin: 10px;
  }
  .cta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    margin: 10px 10px 10px 0;
    padding-left: 10px;
    border-top: solid 1px var(--color-black);
    border-left: solid 1px var(--color-black);
  }

  .hold-pris {
    display: flex;
    width: 100%;
    justify-content: space-between;
    p {
      color: var(--color-black);
    }
  }

  @media (max-width: 800px) {
    .hold-grid {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }
    .hold-img {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      height: 200px;
    }
    .hold-header,
    .hold-beskrivelse,
    .hold-tid,
    .cta {
      grid-column: 1 / 2 !important;
      grid-row: auto;
    }
    .cta,
    .hold-tid {
      border-left: none;
      margin: 10px;
      padding: 0;
    }
  }
</style>
