---
//@ts-nocheck
import Layout from "../../layouts/Layout.astro";
import Button from "../../components/Button.astro";

export async function getStaticPaths() {
  const url = "https://lmpnyqlifuywoupnqsea.supabase.co/rest/v1/Hold?select=*";
  const key =
    "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxtcG55cWxpZnV5d291cG5xc2VhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0NzgxOTEwMCwiZXhwIjoyMDYzMzk1MTAwfQ.9OzUYyGROvB8tUL6mhqGD37tCYoxlJXqTLh2WQLHEck";
  const options = {
    method: "GET",
    headers: {
      apikey: key,
      Authorization: `Bearer ${key}`,
      "Content-Type": "application/json",
    },
  };

  // Hent alle hold til paths

  const data = await fetch(url, options).then((res) => res.json());
  return data.map((hold) => ({
    params: { slug: hold.slug },
    props: { hold },
  }));
}

// Få det aktuelle hold fra props
const { hold } = Astro.props;
---

<Layout title={hold.titel}>
  <div class="singleview-outer">
    <div class="singleview-content">
      <h1>{hold.titel} - {hold.type}</h1>
      <p class="desc" set:html={hold.desc_long} />
      <hr />
      <div class="skema-pris">
        <div class="skemaboks flex">
          <h5>Skema</h5>
          <h5 class="skema" set:html={hold.schedule} />
        </div>
        <hr />
        <div class="prisboks flex">
          <div class="flexcol">
            <h5>
              {hold.price_for}:
            </h5>
            <h5 class="pris">{hold.price},- DKK</h5>
          </div>

          <Button
            link={`/hold/${hold.slug}`}
            text="Meld dig ind"
            class="hold-btn"
          />
        </div>
      </div>
    </div>
    <div class="singleview-imgwrap">
      <img src={hold.img} alt={hold.titel} class="singleview-img" />
    </div>
  </div>

  <style>
    .singleview-outer {
      display: flex;
      gap: 20px;
      min-height: 80vh;
      max-width: 1440px;
      margin: 15vw auto;
      color: #fff;
    }
    @media (max-width: 1440px) {
      .singleview-outer {
        padding: 0 40px;
      }
    }
    .singleview-content {
      flex: 1 1 0;
      padding: 3rem 2rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      border: solid 3px #fff;
      max-width: 700px;
    }
    .singleview-content h1 {
      text-transform: uppercase;
    }

    hr {
      border: none;
      border-top: 3px solid #fff;
      margin: 2rem 0 1.5rem 0;
    }

    .singleview-imgwrap {
      flex: 1 1 0;
      display: flex;
      align-items: stretch;
      justify-content: flex-end;
      min-width: 0;
    }
    .singleview-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 0 20%;
      max-height: 100vh;
      border-radius: 0;
      display: block;
    }

    .skemaboks {
      justify-content: space-between;
      align-items: start;
    }

    .prisboks {
      justify-content: space-between;
      align-items: end;
    }
    @media (max-width: 900px) {
      .singleview-outer {
        flex-direction: column;
      }
      .singleview-imgwrap {
        min-height: 250px;
        max-height: 350px;
      }
      .singleview-img {
        max-height: 350px;
      }
      .singleview-content {
        max-width: 100vw;
        padding: 2rem 1rem;
      }
    }
  </style>
</Layout>
